.infoContainer {
  background-color: #003B67;
  border-style: solid;
  border-top-width: 60px;
  border-right-width: 60px;
  border-left-width: 60px;
  border-bottom-width: 25px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, #084f85, #013c68);
  max-width: 750px !important;
}

.cuota-fija {
  background-color: #00355D;
}

.obtene-credito button{
  background-color: #17AA8D;
}

.detalles-cuota button{
  background-color: #0B548B;
  font-size: 15px;
}

body {
  font-family: 'Montserrat' !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
